.container-banner {
  background-image: url("https://media.istockphoto.com/id/1137735902/es/vector/desarrollo-de-software-programaci%C3%B3n-laptop.jpg?s=612x612&w=0&k=20&c=Gze1XhlY3KVfzEN3fEiAOd4bpQP6idEhZJmRshWRHow=");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 580px;
  @media(max-width: 550px){
    height: 350px;
}
}

.container-banner::before {
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}

.banner {
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-conent{
    text-align: center;
    @media(max-width: 550px){
        font-size: .7rem;
    }
}
h1 {
    @media(max-width: 550px){
        font-size: 1.2rem;
    }
}
.button-cv{
    border-style: none;
    margin-top: 15px;
    padding: 10px;
    border-radius: 4px;
    font-size: .8em;
    background: transparent;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    transition: 1s;
}
.button-cv:hover {
    background: #111;
}

/*Seccion de sobre mi*/

.aboutme {
    color: #111;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://www.solofondos.com/wp-content/uploads/2016/01/wallpapers-hd-blanco-y-rojo-768x480.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width: 552px) {
        padding: 5px;
        font-size: .8rem;
    }
      
}
.title {
    text-align: center;
}
.title p {
    @media(max-width: 552px) {
        padding: 0;
    }
}
.container-datos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container1 {
    width: 100%;
    padding: 10px;
    max-width: 450px;
    @media(max-width: 552px) {
        padding: 3px;
    }
}
.container2{
    width: 100%;
    padding: 10px;
    max-width: 450px;
}
.habilidades {
    padding-top: 10px;
    padding-bottom: 10px;
}
.habilidades span {
    padding: 7px;
    background: #E5E4E5;
    color: #333;
}
.redes-sociales {
    padding: 2px 0px 2px 0px;
}
.redes-sociales a {
    color: #333;
    font-size: 20px;
}

/*MiniBanner para la section de proyectos*/

.banner-proyectos {
    width: 100%;
    height: 250px;
    background-image: url("https://www.pragma.com.co/hubfs/h_react.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: 800px) {
        height: 150px;
    }
}
.banner-proyectos::before {
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
}
.title-proyecto {
    color: #f5f5f5;
    font-size: 6em;
    position: absolute;
    @media(max-width: 800px) {
        font-size: 2.5em;
    }
}

/*Seccion Proyectos*/

.proyectos {
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    background-image: url("https://www.solofondos.com/wp-content/uploads/2016/01/Fondos-de-pantalla-blancos-1024x614.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width: 510px){
        padding: 15px;
        font-size: .9rem;
    }
}
.card {
    width: 25rem;
    @media(max-width: 510px){
        width: 16rem;
    }
}
.fa-react {
    font-size: 1.8em;
    margin: 2px;
    color: aqua;
}
.fa-database {
    font-size: 1.6em;
    margin: 2px;
    color: #333;
}
.fa-html5 {
    font-size: 1.8em;
    margin: 2px;
    color: rgb(211, 120, 34);
}
.fa-css3-alt {
    font-size: 1.8em;
    margin: 2px;
    color: rgb(27, 49, 243);
}
.fa-square-js {
    font-size: 1.8em;
    margin: 2px;
    color: rgb(217, 255, 0);
}

.contacto {
    width: 100%;
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width: 500px){
        padding: 20px;
    }
}

.title-contacto {
    color: #f5f5f5;
    font-size: 3em;
    margin-top: -30px;
    margin-bottom: 40px;
    @media(max-width: 650px){
        font-size: 3em;
        margin-top: 10px;
    }
}
.form {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.90);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    @media(max-width: 650px){
        width: 100%;
        padding: 10px;
    }
}
.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.inputs input {
    color: #fff;
    padding: 15px 15px 15px 3px;
    border: none;
    border-bottom: 2px solid #555;
    margin: 20px;
    min-width: 250px;
    background-color: transparent;
}
.textarea {
    width: 100%;
    max-width: 680px;
    height: 200px;
    resize: vertical;
    padding: 15px 15px 15px 3px;
    border: none;
    border-bottom: 2px solid #555;
    background-color: transparent;
    color: #f5f5f5;
}
#button-form {
    width: 200px;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin-top: 20px;
    background: #3255F3;
    color: #f5f5f5;
}

/*Estilos para el footer*/
.footer {
    height: 300px;
    width: 100%;
    background: #111;
}

